<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^globalnepalese\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.globalnepalese\.com$
RewriteRule ^/?$ "https\:\/\/globalnepalese\.com\/" [R=301,L]

